@tailwind base;
@tailwind components;
@tailwind utilities;

.Marquee {
    white-space: nowrap;
    overflow-x: hidden;
    display: block;
    position: relative;
}

.MarqueeContent {
    display: inline-block;
    text-align: left;
}
