@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
    font-family: "Gooper";
    src:  url("./../ressources/fonts/Gooper-Regular.woff") format('woff'),
    url("./../ressources/fonts/Gooper-Regular.woff2") format('woff2');
}

@font-face {
    font-family: "Gooper-Accent";
    src:  url("./../ressources/fonts/Gooper-SemiBoldItalic.woff") format('woff'),
    url("./../ressources/fonts/Gooper-SemiBoldItalic.woff2") format('woff2');
}

body {
    font-family: "Gooper", sans-serif

}

.presentation__content--accent, .logo-container {
    font-family: "Gooper-Accent", sans-serif;
}

/* Body & Container */

html, body {
    @apply overflow-x-hidden
}

body {
    @apply bg-[#fbead1] m-0 flex flex-col items-center relative h-screen
}

.container {
    @apply m-0 px-[3vw]
    sm:px-[2vw]
}

/* Header */
.header {
    @apply w-full self-start px-4
    sm:px-[7vw]
}
.header, .logo-container, .nav__list {
    @apply flex items-center pt-3 mb-5 justify-between
    sm:mb-8
}

.nav__list {
    @apply invisible gap-[7vw]
    sm:visible
    hover:shadow-xl
}
.presentation__content__icon {
    @apply w-[0.7em] inline-block align-baseline hover:animate-spin
}

.presentation__content__icon--star {
    color: #4697f6;
    @apply w-5 hover:animate-ping
}

.presentation__content__icon--spike {
    color: #1bd175;
    @apply w-5 hover:animate-ping
}

.presentation__content {
    @apply text-[6.2vw] flex flex-col pl-1 leading-[8vw] flex-nowrap whitespace-nowrap
    sm:leading-[7vw] sm:text-[5.6vw]
    md:leading-[7vw]
    lg:leading-[7.5vw]
}

.logo-img {
    @apply w-7
}

.logo-content {
    @apply ml-2 text-2xl
    sm:text-3xl
}

.next-img {
    @apply w-[25vh] absolute left-52 pt-20 opacity-10 hover:opacity-100 cursor-pointer
}




