@tailwind base;
@tailwind components;
@tailwind utilities;

/* Body & Main */
body {
    @apply
    flex
    bg-gradient-to-b from-sky-400/40 to-indigo-500/40 
    /* Small displays */
    sm:p-5
    sm:pb-0
    h-screen
}

main {
    @apply
    mx-auto
    mt-5
}

/* Sections Classes */
.sections-container {
    @apply 
    font-boska font-normal
    text-5xl
    /* Small displays */
    sm:text-5xl
    /* Large displays */
    xl:text-7xl
}

.section {
    @apply 
    transition-all
    mb-4
    /* Large displays */
    xl:flex 
    xl:justify-center 
    xl:align-middle 
    xl:gap-7
    xl:mb-5
}

.section:nth-child(1) {
    @apply
    /* Large displays */
    xl:text-6xl
}

.section:nth-child(2) {
    @apply
    /* Large displays */
    xl:text-6xl
    xl:not-italic
    xl:font-normal
}

/* .section:nth-child(2) div:nth-child(3) {
    @apply
    not-italic
    font-normal
    xl:italic
    xl:font-extralight
}

.section:nth-child(2) div:nth-child(4) {
    @apply
    italic
    font-extralight
    xl:not-italic
    xl:font-normal
} */

.section:nth-child(3) {
    @apply
    /* Large displays */
    xl:text-6xl
}

.section-content {
    @apply
    flex
}

.section-content-inner {
    @apply
    flex
}

/* .section--accent { */
    /* @apply */
    /* Large displays */
    /* italic font-extralight
    sm:italic sm:font-extralight
    md:italic md:font-extralight
    xl:italic xl:font-extralight */
/* } */

sup, .type {
    @apply
    /* All displays */
    top-7
    xl:top-0
    text-xs
    sm:left-2
    md:left-2
    xl:left-2 
}

.wip {
    @apply
    cursor-wait
}

/* Selectors */
.selectors {
    @apply 
    /* All displays */
    flex 
    justify-center 
    align-middle 
    mt-5 
    mb-2
    gap-10 
    font-cabinet
    font-normal
    text-gray-700
    text-xl
    cursor-pointer
}
.selector {
    @apply
    /* All displays */
    m-2
    p-1
    rounded-full
    bg-transparent
}

/* JavaScript class to hide content */


.section:nth-child(1) {
    @apply
    not-italic
    font-normal
}

.section:nth-child(2) {
    @apply
    italic
    font-extralight

}

.hide {
    @apply
    opacity-25
}

.hide * {
    transition: all 170ms ease-in;
    @apply
    font-extralight
}







